.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

.grid-loading {
  padding: 2em;
  text-align: center;
  color: #888;
}

.grid-cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border: 2px solid #999;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.grid-cell.disabled {
  cursor: not-allowed;
  background-color: #c5c5c5;
}

.orb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  color: white;
}

.orb.P0 {
  background-color: red;
}

.orb.P1 {
  background-color: blue;
}

.orb.P2 {
  background-color: green;
}

.orb.P3 {
  background-color: yellow;
}